html {
  font-size: 62.5%;
  font-family: "Roboto";
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.App {
  height: 100vh;
  width: 100%;
  position: relative;
}
